* {
	font-family: Georgia;
	color: #FF6165;
}

body {
	background-color: #ABDCD6;
}

#container {
	background-color: #FFFFF9;
	border: 1px dashed #FFBBA3;
	margin: auto;
	margin-top: 100px;
	padding: 10px;
	width: 500px;
}

header {
	text-align: center;
	font-size: 32px;
	font-style: italic;
	font-weight: bold;
}

#how-to {
	margin: 10px;
}

#form {
	text-align: center;

}

#form > input {
	margin: 10px;
	width: 300px;
	height: 25px;
	border: 1px dashed #FF6165;
	color: #FF6165;

}

#form > button {
	border: 1px dashed #FF6165;
	background-color: #FFFFFF;
	color: #FF6165;
	padding: 4px;
}

.list {
	text-align: center;
}

.item {
	margin: auto;
	margin-bottom: 10px;
	width: 200px;
	min-height: 20px;
	border: 1px dashed #FF6165;
	padding: 4px;
	background-color: #FFFFFF;
	word-wrap: break-word;
}

.purchased {
	text-decoration:line-through;
	color: #6B6B6B;
}

.remove {
	margin-top: 0px;
	float: right;
	border: none;
	background-color: #FFFFFF;
	color: #FF6165;
	font-weight: bold;
}
